
<template>

    <div class="row">

      <div class="col-md-12">
        <h2 class="text-left">Información del Artículo</h2>

        <writter-submenu></writter-submenu>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default marginTop40">
                    <div class="panel-body ">
                        <h3 class="text-left">{{article.title}}</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="marginTop20 description">
                                    <strong>Categorías:</strong>
                                    <span class=" marginLeft10" v-for="category in article.category" :key="category.id">{{category.label}} </span>
                                    <br>
                                    <strong>Precio:</strong>
                                    <span class="text-success"><strong>{{article.price | formatMoney}}</strong></span>
                                    <br>
                                    <strong>Fecha:</strong>
                                    <span>{{article.createdAt | formatDate}}</span>
                                    <br>
                                     <strong>Archivo: </strong>
                                    <span>{{article.filename}}</span>
                                    <br>
                                    <strong>Número de palabras:</strong>
                                    <span>{{article.words}}</span>
                                    <br>
                                    <strong>Status:</strong>
                                    <span>{{article.status}}</span>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <div class="marginTop40">
                                    <a class="btn btn-default btn-bg" target="_blank" :href="`${this.$store.state.endpoint}/article/download/${article._id}?token=${this.$store.state.auth}`">
                                        <i class="fa fa-file-word-o fa-2x"></i> Descargar artículo
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-2 marginTop40">
                                <button class="btn btn-lg btn-danger">Eliminar Artículo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

</template>


<script>

import writterSubmenu from './../../components/writterSubmenu'


export default {
    name: 'ArticleShow',
    components:{
      writterSubmenu,
    },
    data(){
      return{
          article:{}
      }
    },
    methods: {
       
    },
    created: function(){
        let vm =  this ;
        this.$store.dispatch('getArticleInfo',{id:this.$route.params.id})
        .then( response => {
            vm.article = response.data.article;
        })
        .catch( error => {
            console.log(error);
        });
    }
}


</script>

<style scoped="">

.description{
    line-height: 30px;
}
</style>
