<template>
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h3 class="marginBottom20">
              <i class="fa fa-unlock fa-3x green marginBottom20"></i><br>
              Tu cuenta ha sido activada exitosamente, ya puedes ingresar a TextoClick.com
            </h3>
            <p class="text-center"><router-link :to="{name:'login'}">Da click aquí para entrar ahora</router-link> </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default{
  name: 'confirmation',
  data(){
    return{
      user:{},
      errorForm:0,
      submit:0,
    }
  },
  methods:{

  },
}
</script>
<style scoped="">
.green{color:#0A0;}
</style>
