<template>
  <div class="row">
    <div class="col-md-4">
      <profile-sidebar></profile-sidebar>
    </div>
    <div class="col-md-8">

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 ">

              <h3 class="text-left">Cambia tu contraseña</h3>

              <div class="col-md-6 col-md-offset-3 marginTop20">
                <form v-on:submit.prevent="updatePassword" v-on:keydown.enter.prevent="">
                <div class="row">
                  <div class="col-md-12 marginTop20 text-center">

                    <div class="form-group" v-bind:class="{'has-error':confirmationError}">
                      <label>Nuevo Password</label>
                      <input type="password" class="form-control" v-model="userEdit.password"  placeholder="Password">
                    </div>
                    <div class="form-group marginBottom20" v-bind:class="{'has-error':confirmationError}">
                      <input type="password" class="form-control" v-model="userEdit.confirmpassword"  placeholder="Confirma tu password">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 marginTop20 marginBottom20">


                    <ul class="list-inline">
                      <li><button type="button" v-on:click="cancel" class="btn btn-danger">Cancelar</button></li>
                      <li><button class="btn btn-success">Cambiar contraseña</button></li>
                    </ul>

                  </div>
                </div>
              </form>

              </div>


            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>



<script>
import profileSidebar from './../components/ProfileSidebar'

export default {
    name : 'ChangePassword',
    data(){
      return{
        userEdit:{},
        confirmationError:0
      }
    },
    components : {
      profileSidebar
    },
    methods:{
      updatePassword: function(){
        let vm =this;
        this.confirmationError=this.emailInUse=0;
        this.$store.dispatch('updatePassword',{
          "password":this.userEdit.password,
          "confirmPassword":this.userEdit.confirmpassword
        }).then(function(){
          toastr.success('El password se ha actualizado correctamente');
          vm.$router.push({name:'profile'});
        }).catch(function(error){
          if(error=='invalid-signature'){
            toastr.error('Tu sesion ha expirado');
            vm.$store.dispatch('logout').then(function(){ vm.$router.push({name:'login'});});
          }else{
            vm.confirmationError=1;
            toastr.error(error);
          }
        });
      },
      cancel:function(){
        this.$router.push({name:'profile'});
      }
    }
}
</script>
