<template>
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h3 class="marginBottom20">
              <i class="fa  fa-envelope-o fa-3x green marginBottom20"></i><br>
              Te hemos enviado un email para confirmar tu cuenta, por favor revisa tu cuenta de correo eletrónico
            </h3>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default{
  name: 'confirmation',
  data(){
    return{
      user:{},
      errorForm:0,
      submit:0,
    }
  },
  methods:{

  },
}
</script>
<style scoped="">
.green{color:#0A0;}
</style>
