<template>
  <div>
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1 class="marginBottom20"><i class="fa fa-lock"></i> Login </h1>
        <form v-on:submit.prevent="login">
          <div class="form-group" v-bind:class="{'has-error':errorForm}">
            <input type="text" class="form-control" v-model="user.email"  placeholder="Email o Nombre de Usuario" >
          </div>
          <div class="form-group marginBottom20" v-bind:class="{'has-error':errorForm}">
            <input type="password" class="form-control" v-model="user.password"  placeholder="Password">
          </div>
          <button type="submit" class="btn btn-success btn-block" :disabled="submit==1">Login <i v-if="submit" class="fa fa-spinner fa-lg fa-spin"></i></button>
        </form>
      </div>
    </div>
    <p class="linkOutside text-center marginTop20"><router-link :to="{name:'register'}"> <strong>Registrate aquí</strong>, si aún no estas registrado</router-link></p>
  </div>
  <div class="background"></div>

</div>
</template>

<script>

export default{
  name: 'login',
  data(){
    return{
      user:{},
      errorForm:0,
      submit:0,
    }
  },
  methods:{
    login: function(){
      let vm = this;
      this.submit=1;
      //validate user
      if(!this.user.email || !this.user.password){
        toastr.error('Por favor ingresa tu email y password');
        vm.submit=0;
        return;
      }
      this.$store.dispatch('login',this.user).then(function(){
        vm.$router.push({name:'homepage'});
      },function(error){
        toastr.error(error);
        vm.submit=0;
      });
    },

  },

}
</script>
<style scoped>
  .linkOutside a{color:#fff;}
</style>
