<template>
<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        {{Auth}}
        <router-link :to="{name:'homepage'}" class="navbar-brand" ><img class="logo" src="./../assets/textoclick_sm.png"></router-link>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul v-if="!user.email" class="nav navbar-nav navbar-right">
            <li ><router-link :to="{name:'login'}">{{ $t("message.entrar") }}</router-link></li>
            <li ><router-link :to="{name:'register'}">{{ $t("message.registrate") }}</router-link></li>
        </ul>
        <ul v-else class="nav navbar-nav navbar-right">
          <li class="menubar"   v-bind:class="{'active-buyer':$route.path.match(/\/buyer/i)}">
                <router-link :to="{name:'soyComprador'}" >
                  <i class="fa fa-shopping-basket"></i>  Quiero Artículos
                </router-link>
           </li>
          <li class="menubar" v-bind:class="{'active-redactor':$route.path.match(/\/writter/i)}" >
             <router-link :to="{name:'soyRedactor'}"><i class="fa fa-pencil"></i> Soy Redactor</router-link>
           </li>
          <li class="dropdown menubar" v-bind:class="{'active':$route.path.match(/\/profile/i)}" >
            <a href="#" v-on:click.prevent="" class="dropdown-toggle" data-toggle="dropdown">
              <img v-if="user.profilePicture" v-bind:src="user.profilePicture" class="nav-profile-img img-responsive img-circle">
              <img v-else class="img-responsive img-circle nav-profile-img"
              src="https://s3-us-west-2.amazonaws.com/textoclick/common/user-image.jpg">
              Hola {{user.username}}<span class="caret"></span>
            </a>

            <ul class="dropdown-menu" >
              <li><router-link :to="{name:'profile'}" ><i class="fa fa-user"></i> Perfil</router-link></li>
              <li><router-link :to="{name:'profileMisArticulos'}" ><i class="fa fa-file-word-o"></i> Mis artículos</router-link></li>
              <li><a href="#"><i class="fa fa-line-chart"></i> Ventas y Pedidos</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" v-on:click.prevent="logoutMethod"><i class="fa fa-power-off"></i> Salir</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</template>


<script>
  export default{
    name:'navbar',
    data(){
      return {
        user:{},
      }
    },
    computed:{
      Auth (){
         this.user =  this.$store.getters.getUser;
      },
      //select the profile navbar
    },
    methods:{
      // dispatch the Action fbaseLogout in the store vuex
      logoutMethod: function(){
        let vm = this;
        console.log('salir');
        this.$store.dispatch('logout').then(function(){ vm.$router.push({name:'homepage'});});
      },
    },
  }
</script>


<style scoped>
  .navbar-brand{
      color:#fff;
  }
  .navbar-default .navbar-nav>li>a {
    color: #fff!important;
    font-size: 16px;
    font-weight: bold;
  }
  .dropdown-menu>li>a{
    color:#555;
    font-size: 16px;
  }
  .navbar-default {
      background-color: #5d9cec;
      border-color: #5d9cec;
  }
  .navbar-nav>li.active,.navbar-nav>li.active>a{
        background-color: #fff;
        color:#868686!important;
  }
  .nav-profile-img{
    width: 40px;
    margin-top: -10px;
    margin-right: 10px;
    float:left;
  }
  .logo{
    width: 150px;
    margin-top: -9px;
  }

</style>
