
<template>
  <div class="row">
    <div class="col-md-4">
      <profile-sidebar></profile-sidebar>
    </div>
    {{Auth}}
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 main-panel">
                <h3 class="text-left">Mi perfil</h3>
                <div class="col-md-4">
                  <img v-if="user.profilePicture" v-bind:src="user.profilePicture" class="img-responsive img-profile">
                  <img v-else src="https://s3-us-west-2.amazonaws.com/textoclick/common/user-image.jpg" class="img-responsive img-profile">
                </div>
                <div class="col-md-8 text-left marginTop20">
                  <p v-once>Nombre completo: {{user.firstName+' '+user.lastName}}</p>
                  <p v-once>Email: {{user.email}}</p>
                  <p v-once>Ciudad: {{user.city}} </p>
                  <p v-once>Estado: {{user.state}}</p>
                  <p v-once>País: {{user.country}}</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import profileSidebar from "./../components/ProfileSidebar";

export default {
  name: "Profile",
  data() {
    return {
      user: {}
    };
  },
  components: {
    profileSidebar
  },
  computed: {
    Auth: function() {
      this.user = this.$store.getters.getUser;
    }
  }
};
</script>

<style scoped="">
.img-profile {
  width: 200px;
}
</style>
