<template>
  <div>

    <div class="panel panel-default">
      <div class="panel-heading text-left">Experiencia como Redactor</div>
      <div class="panel-body ">
        <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
            10%
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <p>Recuerda que para ser un <strong>Redactor</strong> debes responder los test de certificación</p>
          </div>
          <div class="col-md-2">
            <i class="icon-warning fa fa-exclamation-circle"></i>
          </div>
        </div>
          <router-link v-bind:to="{name:'showTests'}" class="list-group-item"><i class="fa fa-certificate"></i> Certifícate para ser Redactor</router-link>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading text-left">Configuración</div>
      <div class="panel-body panel-side-menu">
        <div class="list-group text-left">
          <router-link v-bind:to="{name:'profileEdit'}" class="list-group-item"><i class="fa fa-pencil"></i> Editar Perfil</router-link>
          <router-link v-bind:to="{name:'changePassword'}"  class="list-group-item"><i class="fa fa-key"></i> Cambiar Contraseña</router-link>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading text-left">Pagos</div>
      <div class="panel-body panel-side-menu">
        <div class="list-group text-left">
          <a href="#" class="list-group-item"><i class="fa fa-credit-card"></i> Método de pago</a>
          <a href="#" class="list-group-item"><i class="fa fa-history"></i> Historial de pagos</a>
        </div>
      </div>
    </div>

  </div>
</template>



<style scoped="">
.panel-side-menu{
  padding: 0px;
}
.panel-side-menu .list-group{
  margin-bottom: 0px;
}
.panel-side-menu  .list-group-item:last-child, .panel-side-menu  .list-group-item:first-child{
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  border-top-right-radius:0px;
  border-top-left-radius:0px;
}
.panel-default>.panel-heading{
  background-color: #e2e2e2;
}
.icon-warning{
  margin: 10px 5px;
  color: #f00;
  font-size: 30px;
}
/*.warning-test{
  background: #19baff;
    color: #fff;
}*/
</style>
