<template>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 main-panel marginBottom20">
              <h3 class="text-left marginBottom20">Mis Artículos</h3>
              <reus-table-articulos></reus-table-articulos>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</template>


<script>
import reusTableArticulos from './../components/ReusTableArticulos'

export default {
    name: 'ProfileMisArticulos',
    components:{
      reusTableArticulos
    },
    data(){
      return {
        
      }
    },
}

</script>


<style scoped="">
.media-left, .media-right, .media-body{
  vertical-align: middle;
}
.categorias{
  font-size: 13px;
}
.categorias .label{
  margin: 0px 2px;
}
.articulo{
  margin: 0px 0px 25px 0px;
}
.image-articulo{
  margin-top: 25px;
}
.controles-edicion i,.controles-edicion a{
  color:#6f6f6f;
}
.precio{
  font-size:16px;
}
.precio .text-success{
  font-weight: bold;
}
</style>
