
<template>
  <div class="row">

    <div class="col-md-4">
      <profile-sidebar></profile-sidebar>
    </div>

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 main-panel">

                <div class="col-md-12 text-left ">
                  <h3 class=" marginBottom20">Edita tu perfil</h3>

                  <div class="col-md-12 text-center">
                    <div class="img-container" v-show="!showCrop">
                      <div v-if="loading" class="loading">
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                      </div>
                      <img v-if="userEdition.profilePicture" v-bind:src="userEdition.profilePicture" class="img-responsive img-profile" v-on:click="selectPhoto">
                      <img v-else src="https://s3-us-west-2.amazonaws.com/textoclick/common/user-image.jpg" class="img-responsive img-profile" v-on:click="selectPhoto">
                      <span class="float-span" v-on:click="selectPhoto">cambiar foto <i class="fa fa-upload" aria-hidden="true"></i></span>
                      <input v-on:change="changeFile" id="file-photo" type="file" class="hidden" accept="image/x-png,image/jpeg">
                    </div>
                    <div v-show="showCrop" >
                      <vue-croppie
                       ref=croppieRef
                       :enableOrientation="true"
                       :boundary="{ width: 250, height: 250 }"
                       :viewport="{ width: 200, height: 200 }"
                       :mouseWheelZoom="false"
                       @result="result"
                       @update="update"
                       >
                      </vue-croppie>

                      <div class="col-md-12">
                        <button type="button" v-on:click="rotate(-90)" class="btn btn-sm btn-info btn-circle"><i class="fa fa-rotate-left"></i></button>
                        <button type="button" v-on:click="rotate(90)" class="btn btn-sm btn-info btn-circle"><i class="fa fa-rotate-right"></i></button>
                        <button type="button" v-on:click="cropViaEvent" class="btn btn-sm btn-info">Guardar <i class="fa fa-save"></i></button>
                        <button type="cancel" v-on:click="showCrop=0" class=" marginLeft10 btn btn-sm btn-danger">x</button>
                      </div>
                    </div>


                  </div>


                  <form v-on:submit.prevent="updateProfile" >

                    <div class="form-group">
                      <label>Tú nombre  <small class="text-muted">max 30 caracteres</small></label>
                      <input type="text" class="form form-control" maxlength="30" v-model="userEdition.firstName"  placeholder="Nombre" required>
                    </div>

                    <div class="form-group">
                      <label>Tú apellido(s)<small class="text-muted"></small></label>
                      <input type="text" class="form form-control" maxlength="50" v-model="userEdition.lastName"  placeholder="Apellidos" required>
                    </div>

                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>Ciudad</label>
                          <input type="text" class=" form-control"  v-model="userEdition.city"  placeholder="Ciudad">
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label>Estado</label>
                          <input type="text" class=" form-control" v-model="userEdition.state"  placeholder="Estado">
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label>País</label>
                          <input type="text" class=" form-control" v-model="userEdition.country"  placeholder="País">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Fecha de nacimiento</label>
                          <datepicker  v-model="dob"  :format="format" language="es"></datepicker>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Tú biografía</label>
                          <textarea  v-model="userEdition.bio" class="form-control" rows="4" placeholder="Escribe un poco acerca de tí"></textarea>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12 text-center marginTop20 marginBottom20">
                        <ul class="list-inline">
                          <li><button type="button" v-on:click="cancel" class="btn btn-danger">Cancelar</button></li>
                          <li><button type="submit" class="btn btn-success">Actualizar perfil </button></li>
                        </ul>
                      </div>
                    </div>
                  </form>


                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>


<script>


import profileSidebar from './../components/ProfileSidebar'
import Datepicker from 'vuejs-datepicker';

import Vue from 'vue';
import VueCroppie from 'vue-croppie';
Vue.use(VueCroppie);

var uploader = document.getElementById('uploader');

export default{
  name:'ProfileEdit',
  data(){
    return{
      dob:null,
      userEdition : {
                    firstName: '',
                    lastName: '',
                    email:'',
                    bio:'',
                    city:'',
                    country:'',
                    dob_ts:0,
                    state:'',
                    profilePicture:null
                   },
      cropped:null,
      showCrop:0,
      format:"dd/MM/yyyy",
      loading:0,
    }
  },
  components :{  profileSidebar ,Datepicker},
  //watch for the Datetime selector and convert to timestamp
  watch : {
    dob : function(data){
      this.userEdition.dob_ts = new Date(data).getTime();
    }
  },

  methods: {
    updateProfile: function(){
      console.log('saving');
      let vm = this;
      this.$store.dispatch('updateProfile',this.userEdition).then(function(){
        toastr.success('Perfil actualizado correctamente');
        vm.$router.push({name:'profile'});
      });
    },
    cancel : function(){
      this.$router.push({name:'profile'});
    },
    result: function(output) {
      let vm = this;
      this.cropped = output;
      this.$store.dispatch('uploadProfilePhoto',{image:this.cropped}).then(function(response){
             vm.userEdition.profilePicture=response;
             vm.loading=0;
           });
    },
    cropViaEvent() {
      this.showCrop=0;
      this.loading=1;
      let options = { format: 'jpeg',};
       this.$refs.croppieRef.result(options);
   },
   update(val) {
   },
    selectPhoto:function(){
      let file = document.getElementById('file-photo');
      file.click();
    },
    changeFile: function(){
      this.showCrop=1;
      let file = document.getElementById('file-photo');
      let photo = file.files[0];
      if (file.files && file.files[0]) {
        var reader = new FileReader();
        let vm = this ;
       reader.onload = function (e) {
           vm.$refs.croppieRef.bind({ url: e.target.result});
           vm.$forceUpdate();
        }
        reader.readAsDataURL(photo);
      }
    },
    rotate: function(rotationAngle) {
           // Rotates the image
           this.$refs.croppieRef.rotate(rotationAngle);
     },

  },
  computed:{

  },
  created :function(){
    //load object to local variable to avoid reactivity when saving
    let obj = this.$store.getters.getUser;
    this.userEdition.firstName = obj.firstName;
    this.userEdition.lastName = obj.lastName;
    this.userEdition.email = obj.email;
    this.userEdition.bio = obj.bio||null;
    this.userEdition.city = obj.city||null;
    this.userEdition.country=obj.country||null;
    this.userEdition.dob_ts=obj.dob||null;
    this.userEdition.state=obj.state||null;
    this.userEdition.profilePicture=obj.profilePicture||null;
    if(this.userEdition.dob_ts){
      this.dob = new Date(this.userEdition.dob_ts);
    }else{
      this.userEdition.dob_ts=null;
    }
  },// End created
  mounted: function (){
    this.$refs.croppieRef.bind({
          url: 'https://s3-us-west-2.amazonaws.com/textoclick/common/user-image.jpg',
      })
  }
}
</script>
<style scoped="">
  .img-profile{
    width:150px;
    cursor: pointer;
  }
  .img-container{
    display: inline-block;
    position: relative;
  }
  .croppie-container{
    height: auto!important;
  }
  .img-container:hover .float-span{
    display: block;
  }
  .float-span{
    display: none;
    background-color: #5d9cec;
    color:#fff;
    padding:2px 5px;
    cursor: pointer;
    position: absolute;
    right:0px;
    top:0px;
  }
  .btn-circle{
    box-shadow: none!important;
    border-radius: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    min-width: 0;
  }
  .btn-circle i {
    margin-right: 0px;
  }
  .flexbox{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
  }
  progress{

    -webkit-appearance: none;
    appearance:none;
    width:200px;
    height: 5px;
    margin-bottom: 10px;
  }
  .loading{
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.6;
  }
  .loading i {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 35%;
    color: #fff;
  }
</style>
