<template>
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1 class="marginBottom20">Registrate</h1>
        <form v-on:submit.prevent="createUser" v-on:keydown.enter.prevent="" autocomplete="off">
          <div class="form-group" v-bind:class="{'has-error':emailInUse}">
            <input type="email" class="form-control" v-model="newUser.email"  placeholder="Email" >
          </div>
          <div class="form-group" v-bind:class="{'has-error':displayUsernameError}">

            <the-mask mask="FFFFFFFFFFFFFFFFFFFF" :tokens="usernameTokens" v-model="newUser.username" class="form-control" 
            type="text"  placeholder="Username  (solo letras, numeros, guion) 20 caracteres" autocomplete="no-username"></the-mask>
          </div>
          <div class="form-group" v-bind:class="{'has-error':displayNameError}">
            <input type="text" class="form-control" v-model="newUser.firstName"  placeholder="Nombre" autocomplete="no-firstname">
          </div>
          <div class="form-group" >
            <input type="text" class="form-control" v-model="newUser.lastName"  placeholder="Apellidos (opcional)" autocomplete="no-lastname" >
          </div>
          <div class="form-group" v-bind:class="{'has-error':confirmationError}">
            <input type="password" class="form-control" v-model="newUser.password"  placeholder="Password">
          </div>
          <div class="form-group marginBottom20" v-bind:class="{'has-error':confirmationError}">
            <input type="password" class="form-control" v-model="newUser.confirmpassword"  placeholder="Confirma tu password">
          </div>
          <div class="marginTop20">
            <button type="submit" class="btn btn-success btn-block" :disabled="submit==1">Crear nueva cuenta <i v-if="submit" class="fa fa-spinner fa-lg fa-spin"></i></button>
          </div>
        </form>
      </div>
    </div>
    <p class="text-center marginTop20 linkOutside "><router-link :to="{name:'login'}">Ya tienes cuenta? <strong>Ingresa Aquí</strong></router-link></p>
  </div>
</template>


<script>

import {TheMask} from 'vue-the-mask'

export default{
  name : 'register',
  components: {TheMask},
  data() {
    return {
      emailInUse:0,
      confirmationError:0,
      displayNameError:0,
      displayUsernameError:0,
      newUser:{},
      submit:0,
      usernameTokens: {
        F: {
          pattern: /[0-9a-zA-Z-_]/,
          transform: v => v.toLocaleLowerCase()
        }
      }
    }
  },

  methods: {
    createUser : function(){
      let vm = this;
      vm.submit=1;
      this.confirmationError=this.emailInUse=0;
      this.$store.dispatch('registerUser',this.newUser)
      .then(function(){
        vm.$router.push({name:'confirmation'});
      }).catch(function(error){
        vm.submit=0;
        toastr.error(error.message);
        vm.confirmationError = error.confirmationError;
        vm.displayNameError = error.displayNameError;
        vm.emailInUse = error.emailInUse;
        vm.displayUsernameError = error.displayUsernameError;
      });
    }
  },

}
</script>

<style scoped="">
.linkOutside a{color:#fff;}

</style>
