<template>
  <div class="row">
    <div class="col-md-12">
      <div class="text-left">
        <p class="alert">Los artículos publicados aparecerán aquí, podras ver el status de cada uno de ellos y además te mostraremos
        algunos datos de las visitas que han tenido tus artículos</p>
      </div>
      <table v-if="getMyArticles.length>0" class="table table-striped table-bordered marginTop20">
        <thead>
          <tr>
            <th class="text-center">Título</th>
            <th class="text-center">Categoría</th>
            <th class="text-center">Fecha</th>
            <th class="text-center">Precio</th>
            <th class="text-center">Status</th>

          </tr>
        </thead>
        <tbody>
          <tr v-for="article in getMyArticles">
            <td class="text-left"><router-link :to="{name:'articleShow', params: { id: article._id }}">{{article.title}}</router-link></td>
            <td class="category-col">
                    <div class="category" v-for="category in article.category">{{category.label}}</div>
            </td>
            <td class="text-center">{{article.createdAt | formatDate}}</td>
            <td class="text-right">{{article.price | formatMoney}}</td>
            <td class="text-center" v-bind:class="classStatus(article.status)">{{article.status}}</td>

          </tr>
        </tbody>
      </table>
      <div v-else>
        <div class="col-md-12">
          <!-- invitacion para subir archivos -->
          <h3>Aún no has creado artículos en tu cuenta</h3>
          <p class="text-center"><router-link :to="{name:'sendArticle'}">da click aquí para subir tu primer artículo</router-link></p>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default{
      name:'ReusTableArticulos',
      data(){
        return {

        }
      },
      computed:{
        getMyArticles: function(){
          return this.$store.getters.getWritterArticles;
          //return []
        },
      },
      methods: {
        classStatus: function(status){
          return {
            'status-published': status == 'published',
            'status-pending': status == 'pending',
            'status-canceled': status == 'canceled',
            'status-sold': status == 'sold',
          }
        }
    },
    created:function(){
        this.$store.dispatch('loadWritterArticles');
    }
}
</script>

<style scoped="">
  table a:not(.btn), .table a:not(.btn) { text-decoration: none!important;}
  .status-published{ color:#0A0!important; }
  .status-canceled{color:#ff1717!important;}
  .status-sold{color:#7d7d7d!important;}
  .category{margin: 2px 5px;font-size:11px;}
  td{font-size:14px;vertical-align: middle!important;}
  .category-col{max-width:200px;}
</style>
