<template>

  <div class="row">
    <div class="col-md-12">
      <h2 class="text-left">Soy Redactor - Enviar artículo</h2>
      <writter-submenu></writter-submenu>

      <div v-if="isRedactor!=null"class="panel panel-default">
        <div class="panel-body">
            <div v-if="!isRedactor">
                <div class="col-md-6">
                    <div class="jumbotron">
                        <h2><i class="fa fa-warning fa-warning-color"></i>Aún no estas certificado<br> como redactor</h2>
                        <p class="text-center"><router-link :to="{ name: 'showTests' }">certifícate aquí</router-link> para comenzar a publicar articulos</p>
                    </div>
                </div>
                <div class="col-md-6 marginBottom20" >
                    <img src="https://s3-us-west-2.amazonaws.com/textoclick/common/fox_thinking_sm.png"
                    class="zorrito-think img-responsive ">
                </div>
            </div>

            <div v-if="isRedactor">
              <p class="alert">
                Por favor llena el formulario siguiente para subir tu artículo, recuerda completar todos los campos y elegir una
                imagen relativa a tu contenido
              </p>
                <form v-on:submit.prevent="saveArticle" v-on:keydown.enter.prevent="" enctype="multipart/form-data">


              <div class="col-md-6" v-show="true">
                <div class="form-group text-left">
                  <input type="text" class="form-control"  v-model="article.title" placeholder="Título del artículo">
                  <p class="text-danger error-message" v-if="!article.title && errorSubmission==1">Ingresa el título de tu artículo</p>
                </div>
                <div class="row">

                  <div class="col-md-12">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-addon">$</div>
                          <money v-model="article.price" class="form-control" v-bind="money" ></money>
                          <div class="input-group-addon">USD</div>
                        </div>
                        <p class="text-danger error-message" v-if="!article.price && errorSubmission==1">
                            Ingresa el precio de tu artículo en dolares
                        </p>
                      </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <v-select multiple  v-model="cat_selected" :options="categories" placeholder="categorias"></v-select>
                      <p class="text-danger error-message" v-if="cat_selected.length <1 && errorSubmission==1">
                          Selecciona una categoría como mínimo
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="number" name="" id="" v-model="article.words" class="form-control" placeholder="Número de palabras">
                      <p class="text-danger error-message" v-if="!article.words && errorSubmission==1">
                          Ingresa el número de palabras que contiene tu artículo
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="number" name="" id="" v-model="article.images" class="form-control" placeholder="Número de Imagenes">
                      <p class="text-danger error-message" v-if="!article.images && errorSubmission==1">
                          Ingresa el número de imagenes que contiene tu artículo
                      </p>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" v-model="article.description" placeholder="Descripción breve del artículo" rows="4"></textarea>
                  <p class="text-danger error-message" v-if="!article.description && errorSubmission==1">
                      Agrega una descripción a tu artículo
                  </p>
                </div>
                <div class="form-group text-left">
                  <input type="checkbox" id="negritas" v-model="article.keywords"><label for="negritas" class="marginLeft10 cursor">Este artículo contiene las palabras clave en negritas</label>
                </div>
              </div>


              <div class="col-md-6">
                  <h4 class="marginBottom20">Selecciona tu archivo en formato word</h4>

                  <button type="button" v-show="!filename" class="btn btn-bg btn-primary" v-on:click="selectFile"><i class="fa fa-file-word-o fa-2x" aria-hidden="true"></i>Seleccionar archivo</button>

                  <div v-show="filename" class="alert alert-primary">
                        {{ filename }}
                        <div class="pull-right" v-on:click="removeFile"><i class="fa fa-close"></i></div>
                    </div>

                  <input type="file"  v-on:change="fileSelected" name="fileupload" id="file-button">
              </div>


              <div class="col-md-12">
                <div class="marginTop20">
                  <button type="submit" class="btn btn-success btn-bg" :disabled="submit==1"><i class="fa fa-upload fa-lg" aria-hidden="true"></i>Publicar artículo <i v-if="submit" class="fa fa-spinner fa-lg fa-spin"></i></button>
                </div>
              </div>

            </form>
            </div>

        </div> <!-- Panel body end -->
      </div>
    </div>
  </div>
</template>

<script>

import writterSubmenu from './../components/writterSubmenu'
import {Money} from 'v-money'
import axios from  'axios'
import vSelect from  'vue-select'
import _ from 'lodash'
axios.defaults.baseURL ="http://localhost:3000";

export default {
  name: 'EnviarArticulo',
  components:{writterSubmenu,Money,vSelect},
  data(){
    return{
      isRedactor:null,
      submit:0,
      errorSubmission:0,
      article:{
        price:0,
        title:'',
        words:'',
        images:'',
        description:'',
        keywords:false,
        file:null
      },
      money: {
          decimal: '.',
          thousands: ',',
          prefix: '',
          suffix: '',
          precision: 2,
          masked: false
      },
      categories: [],
      cat_selected:[],
      filename:'',
    }
  },
  methods:{

    //=========== Method to save the article
    saveArticle: function( ){

        if(    !this.article.title || !this.article.price
            || !this.article.images || !this.article.words
            || !this.article.description || this.cat_selected.length<1)
            return this.errorSubmission=1;


        let vm = this;
        vm.submit = 1;
        var formData = new FormData();
        var fileToUpload = document.getElementById("file-button");
        formData.append('price',this.article.price);
        formData.append('title',this.article.title);
        formData.append('words',this.article.words);
        formData.append('images',this.article.images);
        formData.append('description',this.article.description);
        formData.append('categories',JSON.stringify(this.cat_selected));
        formData.append('keywords',this.article.keywords);
        formData.append('fileupload',fileToUpload.files[0]);
        //call STORE ACTION
      this.$store.dispatch('saveArticle',formData)
        .then( ( ) => {
            vm.submit = 0;
            vm.$swal({
                title:'Excelente',
                text:'Tu artículo se ha creado exitosamente',
                type:'success'
            });
            vm.$router.push({name:'soyRedactor'});
        })
        .catch( err => {
            vm.submit = 0;
          switch(err){
            case 'redactor-disabled':
              vm.$swal({
                  title:'Error',
                  text:'Aun no estas calificado como redactor certificado',
                  type:'error'
              });
              break;
            case 'invalid-extension':
                vm.$swal({
                    title:'Formato de archivo incorrecto',
                    text:'El tipo de archivo no esta permitido',
                    type:'error'
                });
                break;
            case 'upload-no-selected':
                vm.$swal({
                    title:'Archivo no seleccionado',
                    html:'Debes seleccionar tu archivo en formato <br> WORD DOC o DOCX',
                    type:'error'
                });
                break;
            default:
                vm.$swal({
                    title:'Error',
                    text:'Aun no estas calificado como redactor certificado, por favor contesta los test para ser redactor',
                    type:'error'
                });
                break;
          }
        });
    },
    fileSelected: function(e){
        this.filename = e.target.files[0].name;
    },
    selectFile:function(e){
        $('#file-button').click();
    },
    removeFile: function(e){
        this.filename ='';
        $('#file-button').val("");
    }
  },
  //============ Load categories when the component is mounted
  mounted :function(){
      let vm = this;
      axios.get('/article/categories',{ headers: { 'x-access-token': this.$store.state.auth } } )
        .then( ( response ) => {
          _.forEach(response.data.categories,function(item){
              vm.categories.push({ value:item._id, label: item.title })
          });
        });
  },

  created: function(){
      let vm = this;
      axios.post('/user/scope',{},{ headers: { 'x-access-token': this.$store.state.auth } } )
        .then( response => {
            vm.isRedactor = response.data.redactor;
        });
  }
}

</script>

<style scoped="">

.alert-primary {
    border: 1px #158cba solid;
    font-weight: bold;
    color:#158cba;
}
#file-button{ display:none;}
  .zorrito-think{
      max-width: 200px;
      margin: 0 auto;
  }
  .error-message{
      font-size: 12px;
      padding-left: 10px;
      padding-top: 2px;
  }
  .v-money{
      font-size:32px!important;
      height: 60px!important;
  }
</style>
