<template>

  <div class="row">
    <div class="col-md-12">
      <h2 class="text-left">Soy Redactor - Certificación</h2>
      <writter-submenu></writter-submenu>
      <div class="panel panel-default">
        <div class="panel-body min-height-500">
            <h3>Certificación como redactor</h3>
            <div class="col-md-10 col-md-offset-1">
                <p >Para comenzar a subir tus notas, posts y redacciones debes aprobar al menos una de las certificaciones disponibles.
                    recuerda que entre mas certificaciones aprobadas tengas mayor es el nivel de confianza que tus clientes tendrán en tu trabajo, todas tus certificaciones serán mostradas en tu perfil.
                </p>
                <p>Debes contestar el 100% de las preguntas correctamente y solo tienes un intento por día.</p>
            </div>
            <div v-for="item in tests" :key="item._id" class="col-md-3 marginTop40">
                <router-link  :to="{name: 'testStart', params: { id: item._id }}">
                    <h4 class="text-center text-muted"><i v-bind:class="{'fa-lock':item.approved==false,'fa-unlock':item.approved==true}" class="fa yellow fa-lg"></i> {{ item.title }}</h4>
                    <div class="image-test">
                        <img :src="item.badge.image_blocked" class="img-responsive badge-big" >
                        <div v-if="item.approved" class="text-center label label-success">Aprobada</div>
                    </div>
                </router-link>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import writterSubmenu from "./../components/writterSubmenu";
import axios from "axios";

export default {
  name: "ShowTests",
  components: { writterSubmenu },
  data() {
    return {
      tests: []
    };
  },
  methods: {},
  //============ Load categories when the component is mounted
  mounted: function() {
    axios.defaults.baseURL = this.$store.getters.getEndpoint;
    let vm = this;
    axios
      .get("/test/all", {
        headers: { "x-access-token": this.$store.state.auth }
      })
      .then(response => {
        vm.tests = response.data.tests;
      });
  }
};
</script>

<style scoped="">
.image-test {
  position: relative;
}
.image-test .badge-big {
  max-width: 180px;
  height: auto;
  margin: 0 auto;
}
.yellow {
  color: #ffc208;
}
a:hover,
a:focus {
  color: #158cba;
  text-decoration: none;
}
.label {
  font-weight: bold;
  font-size: 12px;
  padding: 3px 10px;
}
</style>
