<template>
    <div class="row">
      <div class="col-md-12 text-left">
        <ul class="list-inline submenu">
            <li>
              <router-link :to="{name:'soyRedactor'}"><i class="fa fa-file-word-o"></i>Mis artículos</router-link>
            </li>
            <li>
              <router-link :to="{name:'sendArticle'}"><i class="fa fa-cloud-upload"></i>Enviar artículo</router-link>
            </li>
            <li>
              <a href="#"><i class="fa fa-line-chart"></i>Mis ventas</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-credit-card "></i>Retirar fondos</a>
            </li>
            <li>
                <router-link :to="{ name: 'showTests' }"><i class="fa fa-certificate"></i>Certificación</router-link>
            </li>
        </ul>
      </div>
    </div>
</template>


<script>

export default {
    name:'SoyCompradorMenu',
    data(){
      return{

      }
    }
}

</script>
