<template>

  <div class="row">

    <div class="col-md-12">
      <h2 class="text-left soyCompradorTitle">Soy Comprador</h2>

      <soy-comprador-menu></soy-comprador-menu>

      <div class="panel panel-default main-panel">
        <div class="panel-body">
         <!-- <reus-table-articulos></reus-table-articulos> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//import reusTableArticulos from './../components/ReusTableArticulos'
import soyCompradorMenu from "./../components/SoyCompradorMenu";

export default {
  name: "SoyComprador",
  components: {
    soyCompradorMenu
    //reusTableArticulos
  },
  data() {
    return {};
  }
};
</script>
