<template>

  <div class="row">

    <div class="col-md-12">
      <h2 class="text-left soyRedactorTitle">Soy Redactor</h2>

      <writter-submenu></writter-submenu>

      <div class="panel panel-default main-panel">
        <div class="panel-body">
          <reus-table-articulos></reus-table-articulos>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import reusTableArticulos from './../components/ReusTableArticulos'
import writterSubmenu from './../components/writterSubmenu'

export default {
  name: 'SoyRedactor',
  components:{
    writterSubmenu,
    reusTableArticulos
  },
  data(){
    return{

    }
  }
}

</script>
