<template>
  <div class="row">
    <div class="col-md-12" v-if="Object.keys(test).length>0">
      <h2 class="text-left">Soy Redactor</h2>
      <writter-submenu></writter-submenu>
      <div class="panel panel-default">
        <div v-if="test" class="panel-body min-height-500">

            <h3 class="text-primary"><strong>{{test.title}} </strong></h3>
            <p v-if="startTesting" class="text-muted text-center">
                <ins>Tiempo transcurrido <strong>{{ minutesLeft }}</strong> min : <strong>{{secondsLeft}}</strong> seg</ins>
            </p>
            <p v-if="startTesting" class="text-center text-muted"> {{currentQuestion+1}} / {{ questions.length }} </p>

            <div v-if="showInstruction">
                <p class="text-center">Antes de iniciar por favor lee las instrucciones siguientes:</p>
                <div class="col-md-6 col-md-offset-3 text-left ">
                    <div class="text-center">
                        <img v-if="test.badge" class="badge-textoclick" v-bind:src="test.badge.image"  >
                    </div>
                    <ul class="lh30 marginTop20">
                        <li>Solo tienes disponible un intento por día.</li>
                        <li>Los intentos fallidos serán mostrados en tu perfil público.</li>
                        <li>Para obtener el badge ó logro de la certificación deberás contestar todas las preguntas correctamente.</li>
                        <li>En ningun momento debes refrescar o retroceder en tu navegador.</li>
                        <li>Un vez iniciada tu certificación no podrá pausarse o detenerse hasta que la termines.</li>
                    </ul>
                    <div class="text-center marginTop40" v-if="test">
                        <button class="btn btn-large btn-info"  v-on:click="initialCounterStep">Iniciar Certificación</button>
                    </div>
                </div>
            </div>

            <div v-if="initialCounter">
                <transition
                        enter-active-class="animated zoomIn"
                        leave-active-class="animated zoomOut"
                         mode="out-in"
                        :duration="{ enter: 250, leave: 250 }">
                        <h1 v-if="counter==4" class="initial-text" key="4">Comenzando Test</h1>
                        <h1 v-if="counter==3" class="initial-counter" key="3">{{ counter }}</h1>
                        <h1 v-if="counter==2" class="initial-counter" key="2">{{ counter }}</h1>
                        <h1 v-if="counter==1" class="initial-counter" key="1">{{ counter }}</h1>
                </transition>
            </div>

            <div v-if="startTesting">
                {{checkingTime}}
                <transition-group
                                enter-active-class="animated bounceInRight"
                                leave-active-class="animated bounceOutLeft"
                                 :duration="{ enter: 500, leave: 500 }">
                    <div  v-for="(item, key) in questions" v-show="currentQuestion==key" key="item.id">
                        <h3>{{item.pregunta}}</h3>
                        <div class="col-md-6 col-md-offset-3 text-left ">
                            <div class="text-center question-option">
                                    <div v-for="r in item.respuestas">
                                        <div class="respuesta" v-bind:class="{ selected: isSelected(key,r._id) }" :data-id="r._id" v-on:click="setAnswer(key,r._id)">
                                            {{r.respuesta}}
                                        </div>
                                    </div>
                                    <button  class=" btn btn-bg btn-success" v-bind:disabled="disabledButton"
                                    v-if="(typeof answers[key] !=='undefined') " v-on:click="nextQuestion"> Siguiente <i class="fa fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </transition-group>
            </div>
            <div v-if="thankYouPage">
                <h3>Resultado de certificación</h3>

                <h2 v-if="finishInfo.approved" class="text-success">Certificación aprobada</h2>
                <h2 v-else class="text-danger">No aprobado</h2>

                <div class="marginTop40">
                    <p class="text-center">Total de aciertos:  {{finishInfo.result}} de {{finishInfo.totalQuestions}}</p>
                    <p class="text-center">Numero de intentos al momento: {{finishInfo.chances}}</p>
                    <div class="marginTop40">
                        <router-link class="btn btn-info" :to="{ name:'showTests' }" >Regresar a Mis certificaciones</router-link>
                    </div>
                </div>

            </div>
        </div>


      </div>
    </div>
  </div>
</template>

<script>

import writterSubmenu from './../components/writterSubmenu'
import axios from  'axios'

export default {
  name: 'TestStart',
  components:{writterSubmenu},
  data(){
    return{
      test:{},
      questions:[],
      slide:1,
      answers:[],
      startTesting:0,
      showInstruction:1,
      currentQuestion:0,
      thankYouPage:0,
      minutesLeft:0,
      secondsLeft:0,
      totalSeconds:0,
      initialCounter:0,
      counter:4,
      disabledButton:false,
      finishInfo: {}
    }
  },
  methods:{
      loadTest: function(){
           let vm = this;
           axios.get(`/test/id/${this.$route.params.id}`,{ headers: { 'x-access-token': this.$store.state.auth } } )
             .then( ( response ) => {
                 vm.test = response.data.test;
             });
       },
       startTest: function(){
           let vm = this;
           axios.post(`/test/start/`, { id: vm.$route.params.id }, { headers: { 'x-access-token': this.$store.state.auth } } )
            .then( (response ) => {
                vm.questions = response.data.questions;
                vm.slide++;
                vm.startTesting=1;
                vm.initialCounter=0;
                vm.showInstruction=0;
                vm.totalSeconds=0;
                var timer = setInterval( function() {
                    vm.totalSeconds++;
                    vm.minutesLeft = Math.floor(vm.totalSeconds / 60);
                    vm.secondsLeft = vm.totalSeconds % 60;
                },1000);
            })
            .catch( (err) => {
                console.log(err);
            });
       },
       setAnswer: function(key,answer_id) {
           let vm = this;
           vm.disabledButton = false;
           vm.$set(this.answers,key,answer_id);
           vm.$forceUpdate();
       },
       isSelected: function(key,answer_id){
           if(this.answers.length && this.answers[key]){
               if(this.answers[key]==answer_id)
                return 1;
           }
           return 0;
       },
       nextQuestion: function(){
           this.disabledButton=true;
           this.currentQuestion++;
           if(this.currentQuestion==this.questions.length){
               this.startTesting = this.showInstruction=0;
               //end the test
               this.finishTest();
           }
       },
       finishTest: function(){
           let vm=this;
           this.$swal({
               title: 'Finalizando Certificación',
               text: 'checando la certificación',
               timer: 2000,
               showCloseButton: false,
               showCancelButton: false,
               allowOutsideClick: false,
               allowEscapeKey: false,
               allowEnterKey: false,
               showConfirmButton:false,
               onOpen: function () {
                  vm.$swal.showLoading()
                }
           }).then(
                  function () {},
                  // handling the promise rejection
                  function (dismiss) {
                    if (dismiss === 'timer') {
                    vm.startTesting= vm.initialCounterStep = vm.showInstruction=0;
                    vm.thankYouPage = 1;
                      axios.post(`/test/finish/`,{ id: vm.$route.params.id, answers: vm.answers } ,{ headers: { 'x-access-token': vm.$store.state.auth } } )
                        .then( ( response ) => {
                            vm.finishInfo = response.data;
                        })
                        .catch(error =>{
                            vm.$swal({
                                title:'Error',
                                text:'Hubo un error por favor intente nuevamente',
                                type:'error'
                            });
                        });
                    }
                  }
                );
       },
       initialCounterStep: function(){
           var vm = this;
           vm.initialCounter = 1;
           vm.showInstruction=0;
           var timer = setInterval( function(){
               if(vm.counter==0){
                   vm.startTest();
                   clearInterval(timer);
               }
               vm.counter--;
           },1000);
       },
  },
  //============ Load categories when the component is mounted
  computed: {
      checkingTime: function(){

      }
  },
  mounted: function(){
       let vm = this;
       axios.defaults.baseURL = this.$store.getters.getEndpoint;
       axios.get(`/test/id/${this.$route.params.id}`,{ headers: { 'x-access-token': this.$store.state.auth } } )
         .then( ( response ) => {
             vm.test = response.data.test;
         }).catch( error => {
             var error = error.response.data.error;
             switch(error){
                 case 'test-previousInitiate':
                     vm.$router.push({name:'showTests'});
                     vm.$swal({
                         title:'Error',
                         text:'La certificación fue iniciada previamente el dia de hoy',
                         type:'error'
                     });
                     break;
                 case 'test-wasApproved':
                     vm.$router.push({name:'showTests'});
                     vm.$swal({
                         title:'Aprobada',
                         text:'La certificación ya fué aprobada',
                         type:'success'
                     });
                 break;
                 case 'test-chance':
                     vm.$router.push({name:'showTests'});
                     vm.$swal({
                         title:'No es posible iniciar la certificación',
                         text:'Solo tiene un intento por día',
                         type:'error'
                     });
                 break;
             }
         });
  }
}

</script>

<style scoped="">
.badge-textoclick{
    max-width:80px;
    height: auto;
    margin:0 auto;
}
.yellow{
    color:#ffc208;
}
.panel-body{
    overflow-x: hidden;
}
.question-option{
    position: absolute;
    left: 0;
    right: 0;
}
.respuesta {
    padding: 12px;
    border: 1px solid #5d9cec;
    margin: 25px auto ;
    width: 180px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.respuesta:hover{
    border: 2px solid #5d9cec;
    font-size: 16px;
    font-weight: bold;
}
.selected{
    background-color: #5d9cec;
    color: #fff;
}
.btnNext{
        margin-top: 400px;
}
.min-height-500{
    height:600px;
}
.initial-text{
    margin-top:100px;
    font-size:30px;
}
.initial-counter{
    margin-top: 100px;
    font-size:70px;
    font-weight: bold;
}
</style>
