<template>
  <div id="app">
    <Navbar></Navbar>
    <div class="container">
      <div class="row">
        <div class="col-md-12 marginTop20">
          {{background}}
          <transition name="fade" mode="out-in">
              <router-view></router-view>
          </transition>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from './components/navbar'
import Vue from 'vue'
import VueSweetAlert from 'vue-sweetalert'
import currencyFormatter from 'currency-formatter';

Vue.use(VueSweetAlert)

Vue.filter('formatDate',value => {
    if (value) {
        return (moment(String(value)).format('DD/MMM/YYYY hh:mm a')).toUpperCase().replace('.','');
    }
});

Vue.filter('formatMoney',value =>{
    if(value){
        return currencyFormatter.format(value,{code:'USD'});
    }
});

export default {
  name: 'app',
  components:{
    Navbar
  },
  computed:{
    background:function(){
      //review for login and signup to update the background
      var re = /\/login/i;
      var register = /\/sign-up/i;
      var path =this.$route.path;
      if(path.match(re) || path.match(register) ){
        document.body.className = 'background';
      }else{
        document.body.className ='';
      }
    },
  },
  mounted:function(){
    console.log('mounted');
    var vm= this;
    var timer = setInterval(function(){
      if(vm.$store.state.auth.length>0){
        console.log('ping');
        //TODO  create a module to check if token has not expired
      }
    },5000);

  }

}
</script>

<style>

[v-cloak] {
  display: none;
}


body{
  background-color: #ebeff2;
  text-align: left;
}


p{
  text-align: left;
  font-size: 16px;
}
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  .clearfixing{ clear: both;}
  h3{    line-height: 35px; }
  h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
  .marginTop20{margin-top: 20px;}
  .marginTop40{margin-top: 40px;}

  .marginBottom20{margin-bottom: 20px;}
  .marginRight10{margin-right: 10px;}
  .marginLeft10{margin-left: 10px;}
  #toast-container > div {
      opacity: 1;
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      filter: alpha(opacity=100);
    }
  .btn:hover {
    margin-top: 0px;
    border-bottom-width: 4px;
  }
  i{
    margin-right: 10px;
  }
  .main-panel{
    min-height: 500px;
  }
  .btn-xlarge{
    position: relative;
    vertical-align: center;
    margin-top:0px!important;
    margin: 30px;
    /*width: 100%;*/
    height: 100x;
    padding: 28px 28px;
    font-size: 16px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #dedede;
    border: 0;
    color:#777;
    cursor: pointer;
  }


  .btn-xlarge:active {
    top: 2px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .btn-xlarge:hover {
    background: #dedede;
  }
  .submenu{
      margin-top: 10px;
    margin-left: 20px;
  }
  .submenu li{

    font-size: 16px;
    margin-right: 15px;
  }
  .topAlert{
    margin: 0px!important;
  }
  #app .main-panel{
    min-height:70%;
  }

  input[type="text"]{
    display: block;
    width: 100%;
    padding: 7px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  .navbar{
      border-width:0 1px 0px 1px;
      margin-bottom: 0px;
  }
  .background{
    background: url('./assets/digital-agency.jpg');
    background-position: left 23%;
    background-repeat: no-repeat;
  }
  .active-redactor{

    background-color: #a873e2;
  }
  .active-buyer{

    background-color: #3dbb64;
  }


  .alert-warning {
    background-color: #ffde7e;
    color:#505050;
  }
  .cursor{
    cursor: pointer;
  }
  .min-height-500{
      min-height: 500px;
  }
  .lh30{
      line-height: 30px;
  }
  .fa-warning-color{ color:#ffb500;}
  .fa-error-color{ color:#f00;}
</style>
